<section data-controller='sparql'>
  <div data-sparql-target='query'></div>
  <div data-action='click->sparql#query' class='button my-2'>
    EXECUTE
  </div>

  <div data-sparql-target='results'></div>
</section>