@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .button {
    @apply bg-green-800;
    @apply border;
    @apply cursor-pointer;
    @apply border-border;
    @apply uppercase;
    @apply font-bold;
    @apply w-fit;
    @apply flex;
    @apply items-center;
    @apply px-3;
    @apply hover:bg-green-900;
    @apply leading-8;
  }

  .cm-editor {
    @apply border;
    @apply border-border;
    @apply cursor-text;
  }


  .icon svg {
    @apply w-4;
    @apply h-4;

    @apply fill-gray-300
  }

  .loader {
    @apply text-gray-300;
    @apply h-3;
    @apply w-3;
    @apply block;
    @apply my-8;
    @apply mx-auto;
    @apply rounded-full;

    animation: animloader 1.4s linear infinite;
  }

  h2 {
    @apply uppercase;
    @apply text-lg;
    @apply font-bold;
    @apply border-b border-border border-dashed;
  }

  input:not([type="submit"]) {
    @apply bg-secondary;
    @apply border border-border;
    @apply px-2 py-1;
    @apply mb-4;
    @apply w-96;
  }

  input[type="submit"] {
    @apply button;
  }

  label {
    @apply block;
    @apply mb-1;
    @apply text-sm font-bold uppercase;
    @apply text-slate-300;
  }

  .list-label {
    @apply font-bold w-40 uppercase;
  }

  @keyframes animloader {
    0% {
      box-shadow: 14px 0 0 -2px,  38px 0 0 -2px,  -14px 0 0 -2px,  -38px 0 0 -2px;
    }
    25% {
      box-shadow: 14px 0 0 -2px,  38px 0 0 -2px,  -14px 0 0 -2px,  -38px 0 0 2px;
    }
    50% {
      box-shadow: 14px 0 0 -2px,  38px 0 0 -2px,  -14px 0 0 2px,  -38px 0 0 -2px;
    }
    75% {
      box-shadow: 14px 0 0 2px,  38px 0 0 -2px,  -14px 0 0 -2px,  -38px 0 0 -2px;
    }
    100% {
      box-shadow: 14px 0 0 -2px,  38px 0 0 2px,  -14px 0 0 -2px,  -38px 0 0 -2px;
    }
  }
}